@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,400;8..144,600;8..144,900&display=swap');



#root {
  max-width: 1280px;
  margin: 0  auto;
  padding: 2rem;
  text-align: start;
  font-family: 'Roboto Serif', serif;
}

.row{
  border: 15px solid red;
  border-radius:35px;
  margin: 10px;
  padding: 20px;
}
.titulo{
  margin: 10px;
  font-size:4rem;
  text-align: center;
 
}
img{
  border: 3px solid blue;
  border-radius: 15px;
 
}
p{
  color: white;
  font: 1em sans-serif;
}

.btn-scroll{
  background-color: blue;
  padding: 10px;
  font-size: 2rem;
  border-radius:10px ;
  cursor: pointer;
 
}
 
 
.btn-scroll:hover{
  background-color: rgb(5, 5, 55);

}

.footer {
  text-align: center;
  font-size: 1.5rem ;
}
 